/* Estilos gerais */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  color: white;
}

header {
  background-color: #333;
  padding: 20px;
}

h1 {
  font-family: 'Creepster', cursive;
  color: #f1c40f;
  text-align: center;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #f1c40f;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ecf0f1;
}

/* Efeito no texto da introdução */
#introducao .introducao-texto {
  transition: color 0.3s ease;
}

#introducao .introducao-texto:hover {
  color: #e74c3c; /* Mudança de cor quando passar o mouse */
}

/* Estilo das seções */
section {
  margin: 40px 20px;
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
}

/* Estilo dos cards */
.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: #444;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #c0392b;
}

/* Rodapé */
footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #f1c40f;
  text-decoration: none;
}

footer a:hover {
  color: #ecf0f1;
}
